img {
  border-radius: 75px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: bounce 2s infinite;
  margin-top: 20px;
}

h2 {
  font-size: 18px; 
}

body {
  background: linear-gradient(to left, red, cyan);
  background-size: 200% 200%;
  animation: gradient-animation 10s ease infinite;
  font-family: 'Trebuchet MS', sans-serif; 
  color: black; 
  text-align: center;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: slateblue;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

a:hover {
  color: white;
  background-color: slateblue;
  transform: scale(1.05); 
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}
